/******************************************************************************
project: "Stationery" extension for Thunderbird
filename: messenger.css
author: Łukasz 'Arivald' Płomiński <arivald@interia.pl>
description:  CSS for messenger window, all platforms
******************************************************************************/

#stationery-options {
    list-style-image : url("chrome://stationery/skin/menu_icon.png");
}
