/******************************************************************************
project: "Stationery" extension for Thunderbird
filename: options-tab.css
author: Łukasz 'Arivald' Płomiński <arivald@interia.pl>
description:  CSS for options tab, Linux
******************************************************************************/

.stationery-identity-box {
    border-bottom : 1px solid ThreeDLightShadow;
}

#stationery-templates-list {
    border-top : 1px solid ThreeDLightShadow;
}

.stationery-template-item {
    border-bottom : 1px solid ThreeDLightShadow;
}

setting {
    border-top : 1px solid ThreeDShadow;
}
